@charset "UTF-8";

html, body {
  margin: 0;
  padding: 0;
}

button:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
}

body {
  font-family: "M PLUS 1p", sans-serif;
  opacity: 1;
  transition: opacity 1.5s ease;
  background-image: url(../img/secret/blue-water.webp);
  background-color: #050505;
  background-size: 100%;
  height: fit-content;
  padding: 0 5% 10% 5%; 
}
body.fade-out{
  opacity:0;
}
.title {
  width: 40%;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-bottom: 50px;
}

.content-box {
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin-bottom: 120px;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
.content-title {
  position: relative;
  width: 70%;
}
.blob {
  width:85%;
  height:150px;

  background: rgba(255, 255, 255, 0.3);
  filter:blur(2px);

  border-radius:50%;

  animation:morph 15s ease-in-out infinite;
  z-index: 1;
  margin: 0 auto;
}
.first {
  position: absolute;
  top: 40%;
  left: 32%;
  font-size: 20px;
  color: #fff;
  z-index: 10;
  font-family: "DotGothic16", sans-serif;
}
.second {
  position: absolute;
  top: 40%;
  left: 25%;
  font-size: 20px;
  color: #fff;
  z-index: 10;
  font-family: "DotGothic16", sans-serif;
}
.third {
  position: absolute;
  top: 40%;
  left: 35%;
  font-size: 20px;
  color: #fff;
  z-index: 10;
  font-family: "DotGothic16", sans-serif;
}
.content-explain {

  font-size: 16px;
  color: #fff;
  font-family: "Zen Kaku Gothic New", sans-serif;
}
.level {
  font-size: 30px;
  color: #fff;
  font-family: "DotGothic16", sans-serif;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.summary {
  color: #ffc200;
  font-size: 24px;
  font-family: "DotGothic16", sans-serif;
  text-align: center;
  margin-bottom: 80px;
}
.return-box {
  display: flex;
  justify-content: center;
}
.return-secret {
  padding: 1% 4%;
  color: #fff;
  border: 1px solid #fff;
  font-family: "Zen Kaku Gothic New", sans-serif;

  margin: 0 auto;
}

@keyframes morph{
  0%{
    border-radius:50% 50% 40% 60% / 60% 40% 60% 40%;
  }
  25%{
    border-radius:60% 40% 60% 40% / 40% 60% 40% 60%;
  }
  50%{
    border-radius:40% 60% 50% 50% / 50% 50% 60% 40%;
  }
  75%{
    border-radius:55% 45% 45% 55% / 60% 40% 50% 50%;
  }
  100%{
    border-radius:50% 50% 40% 60% / 60% 40% 60% 40%;
  }
}


